/*div {*/
/*    display: block;*/
/*    margin-block-start: 1em;*/
/*    margin-block-end: 1em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*}*/

/*body {*/
/*    background-color: #8BC6EC;*/
/*    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);*/

/*    !*height: 100%;*!*/
/*    font-family: 'Kumbh Sans', sans-serif;*/
/*    !*color: white;*!*/
/*    !*min-height: 100vh;*!*/
/*    !*display: flex;*!*/
/*    !*flex-direction: column;*!*/
/*}*/

.icon-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 25px;
    height: 25px;
}

.icon-button svg {
    width: 22px;
    height: 22px;
    fill: royalblue;

}

.icon-button:hover svg {
    fill: mediumvioletred;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon svg {
    width: 20px;
    height: 20px;
    stroke: royalblue;
    fill: white;

}

#user {
    padding: 20px;
}